<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 127.0.0.1;Initial Catalog = zhenyuFitness;User Id = sa;Password = 47lou207`;"/>
  <!--<add name="conn" connectionString="Data Source = 210.16.190.65;Initial Catalog = sq_zhenyu123;User Id = sq_zhenyu123;Password = 123456q`;"/>-->
  <!--<add name="conn" connectionString="Server=mssql.sql137.cdncenter.net;Database=sq_zhenyu123;UID=sq_zhenyu123;PWD=123456q"/>-->
  <!--conn="Driver={SQL   Server};Server=数据库服务器名称或者数据库IP地址;Database=数据库名;UID=登录用户名;PWD=登录密码"-->   
  </connectionStrings>
  <appSettings>
    <add key="DbLog" value="/zhenyuFitness/ErrorLog/DBerror"/>
    <add key="appRootPath" value="/zhenyuFitness"/>
    <add key="resourceRootPath" value="http://localhost/resources"/>
    <add key="Video" value="MediaResource/video"/>
    <add key="ExerciseGuide" value="~/MediaResource/exerciseGuide"/>
    
    <!--开始：重定向页面-->
    <!--点击安全退出按钮时默认返回的页面-->
    <add key="logOutRedirectPage" value="/zhenyuFitness/RedirectPages/Login.aspx"/>
    <!--用户通过地址栏直接输入网址（前台脚本没有执行：不是通过菜单连接点击,或者用户禁用了浏览器脚本），如果页面判定用户没有权限访问时，跳转的地址-->
    <add key="notPermittedRedirectPage" value="/zhenyuFitness/RedirectPages/Login.aspx"/>
    <!--用户（Guest）点击跳转页面，系统判定该页面需要用户登录,而进行Redirect的页面-->
    <add key="notLoginRedirectPage" value="/zhenyuFitness/RedirectPages/Login.aspx"/>
    <!--结束：重定向页面-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>