body {
}

.caption_p{
    text-align: center; 
    background-color: white; 
    box-shadow: 0 3px 3px 0 #7E7E7E;
}

.caption_p span{
    color: #0099FF;
}

#knowbodyfat_text{
    margin-left:25px;
    padding-top: 6px;

}

#knowbodyfat_text span{
    font-size: 17px; 
    color:#0099FF;
    /*color: #0033CC;*/
    font-style: oblique; 
    font-weight:bold;
    margin-top: 15px;
}

.inputcontainer div span{
    color:#0099FF;
    font-size:12px;
    font-style:oblique;
    font-family:微软雅黑;
}


/*step2_part3*/
@keyframes flip {
    0% {  /*初始状态*/
        transform: rotateX(90deg);
    }

    90% { /*中间状态*/
        transform: rotateX(0deg);
    }

    100% { /*结束状态*/
        transform: rotateX(0deg);
    }
}

#step2_part3{
    background-color:white;
}

#step2_part3 .thumbnail{
    background-color:white;
    border:none;
}

#step2_part3 p.bf_desc {
    display: none;
    color: #0099FF;
    background-color: white;
    border: 6px solid #c8c8c8;
    padding: 5px;
    font: 400 13px 微软雅黑;
    transform: rotateX(90deg);
    transform-origin: 100% 100%;
    animation: flip 800ms 80ms forwards;
}

#physique_desc {
    color: #0099FF;
    background-color: white;
    border: 6px solid #c8c8c8;
    padding: 10px;
    font: 400 15px 宋体;
    transform: rotateX(90deg);
    transform-origin: 100% 100%;
    animation: flip 800ms 80ms forwards;
}

#physique_desc .col-md-7{
    background-color:white;
    padding-top:10px;
}

#physique_desc .goal_physique{
    /*margin-bottom:20px;*/
    /*text-align:center;*/
    font:normal bold 25px 黑体;
}

#physique_desc .goal_physique_status{
    font:oblique 18px 微软雅黑;
    /*padding-top:13px;*/

}

#physique_desc .goal_physique_status_desc{

}

#physique_desc .closegoalmember_title{
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#ddd;
    margin-top:20px;
    margin-bottom:15px;
    text-align:center;
    padding-top:10px;
}

#physique_desc .closegoalmember{
    /*padding-left:50px;*/
    text-align:center;
    /*background-color:red;*/
}

#physique_desc table{
    margin:auto;
}

#select_img_physique2{
    margin-top:20px;
}

#physique_desc #goal_physique_desc{
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
    padding:10px 20px;
    font-family:微软雅黑;
    border:solid 1px;
    background-color:#f9f7f6;
}

#physique_desc .col-md-3{
    margin-top:5px;
    margin-left:5px;
    text-align:right;
    /*border:solid 1px;*/
}

#similargoalmemberImgs{
    text-align:center;
}
/*#physique_desc .goal_physique_fat_leanmass{
    text-align:right;
    padding-right:20px;
    color:#0066FF;
    font-weight:bold;
}

#physique_desc .goal_physique_fat_leanmass span span{
    font-style:oblique;
}*/


#yourgoalstats_physiquetext{
    color:forestgreen;
    /*font-style:normal;*/
    font-size:16px;
}

#seperator1{
    margin:40px auto;
    width:500px;
    /*border-bottom:solid 1px;*/
}

#yourgoalstats_table{
    margin-top:8px;
}

#samephysique_topinspiration_memberImgs{
    margin:0 auto;
}


#knobdiv{
    text-align:center;
}

#knobdiv h4{
    color:#0099FF;
    font-family:微软雅黑;
}

#goaldate_desc{
    border:6px solid #c8c8c8;
    width:600px;
    margin:0 auto;
}

#goaldate_bodychange{
    margin:0 auto 30px;
    text-align:center;
}

#goaldate_bodychange span{
    font-family:微软雅黑;
    font-size:20px;
    color:#0099FF;
}

#goaldate_bodychange span span{
    font-family:'Times New Roman';
    font-size:26px;
    font-style:oblique;
    color:forestgreen;
}

#goaldate_fatchange{
    margin: 0 auto; 
    text-align: center;
}

#goaldate_desc{
    padding-top:10px;
    /*background-color:#f9f7f6;*/
}

#goaldate_fatchange div:nth-child(1){
    font-family:KaiTi;
    font-size:18px;
    color:#0099FF;
}

#goaldate_fatchange div{
    font-size:25px;
    color:#0099FF;
}

#goaldate_fatchange div span{
    font-size:25px;
    color:#0099FF;
}

#goaldate_fatA{
    /*color:forestgreen;*/
    font-family:'Times New Roman';
}

#goaldate_leanA{
    /*color:forestgreen;*/
    font-family:'Times New Roman';
}

#confirm .container> div:nth-child(1){
    text-align:center;
    font-size:30px;
    margin-bottom:30px;
}

#confirm .container> div:nth-child(2){
    margin:0 auto;
    /*background-color:red;*/
}

#confirm_desc{
    width:560px;
    height:620px;
    background-color:#f9f7f6;
    border:6px solid #0099FF;
    padding-top:30px;
    margin:0 auto;
    
}

#confirm_desc .col-md-7 .confirm_desc_field{
    font-family:微软雅黑;
    font-size:15px;
    color:#999999;
    /*margin:0 auto;*/
}

#confirm_desc .col-md-7 .confirm_desc_fieldvalue{
    font-family:微软雅黑;
    font-size:22px;
    color:#666666;
}

#confirm_desc .col-md-7 .confirm_desc_fieldvalue span{
    font-family:微软雅黑;
}

#buttonSection{
    text-align:center;
}




